html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
  /* Colors */
  /* Primary */
    --red400: hsl(7, 99%, 70%);
    --yellow500: hsl(51, 100%, 49%);
    --blue800: hsl(198, 62%, 26%); 
    --green800: hsl(167, 40%, 24%);
    --green500: hsl(167, 34%, 41%); 

  /* Neutral */
    --grey950: hsl(212, 27%, 19%);
    --grey600: hsl(213, 9%, 39%);
    --grey550: hsl(232, 10%, 55%);
    --grey400: hsl(210, 4%, 67%);
    --white: hsl(0, 100%, 100%);
}

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
}